@keyframes filling {
  from{
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}
html {
    margin: 0px;
    /*background-image:  url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    max-height: 100%;
}
header {
    background: #394a51;
    width: 100%
}
header .header {
    display: block;
    text-align: center;
    padding: 30px
}
header .header span {
    padding: 5px;
    color: white;
    font-size: 20px;
}
header .header .header_link {
    text-decoration: none;

    list-style: none;
    color: wheat;
    font-size: 24px;
}
header .header .header_link:hover {
    text-decoration: underline;
    color: white;
}
footer {
    background: #394a51;
    width: 100%;
   /* position: fixed;  Подвал как приклеенный */
  bottom: 0; /* Фиксация снизу */
  left: 0; /* К началу слева */
  right: 0; /* Без отступов справа */
}
footer.fixed-bottom {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
footer .footer {
    display: block;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer .footer .footer_link {
    text-decoration: none;
    padding: 20px;
    list-style: none;
    color: wheat;
    font-size: 24px;
}
footer .footer .footer_link:hover {
    text-decoration: underline;
    color: white;
}
footer .datatime{
    padding: 10px;
    color: white;
    text-align: center;
}
.contact_title {
    padding: 10px;
    text-decoration: underline
    color:
}



.contact_title {
  background-image:  url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color:  #FFFFFF;
  padding-top: 20px;
  font-size: 24px;
  font-family: 'Bungee', cursive;
  animation: filling 3s ease forwards;
  text-align: center;
}
address {
    padding: 15px;
}
address span{
  background-image:  url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color:  #FFFFFF;
  padding-top: 20px;
  font-size: 24px;
  font-family: 'Bungee', cursive;
  animation: filling 3s ease forwards;
}
address .address_link {
    padding-left: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.task_blocks {

}
.task_blocks .task_block {
    background-color: #ffffe0;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.task_blocks .task_block a{
    text-decoration: none;
    list-style: none;
    color: green;
    font-size: 24px;
}
.task_blocks .task_block .chort{
    padding: 5px;
    color: green;
    font-size: 20px;
}
.task_blocks .task_block .task_block_text {
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
}

.chat {
    width: 100%
    padding: 20px;
}
.chat .chat_post {
    margin: 10px;
    padding: 5px;
    width: 20%;
    background: #ff7530;
    color: white;
    border-radius: 10px;
}