{% extends "base.html" %}
{% block title %} Chat {% endblock title %}
{% block link %}
<script>setInterval(() => window.location.reload(), 5000000);</script>
{% endblock link %}
{% block content %}
<h2>Напишите сообщение в чат</h2>
<form method="POST">
    {% csrf_token %}
    <label>Назовитесь:</label><br>
    <input type="text" name="author"/><br>
    <label>Ваше сообщение:</label><br>
    <textarea name="content"></textarea><br>
    <input type="submit" value="Отправить" /><br>
</form>
<div class="chat">
{% if chat.count > 0 %}
{% for user in chat %}
<div class="chat_post">
    <h4 class="chat_post_aut">{{ user.author.username }}</h4>
    <span class="chat_post_date" style="font-size: 10px">{{ user.created_at }}</span>
    <p class="chat_post_text">{{ user.content }}</p>
</div>
{% endfor %}
{% else %}
    <h2>Сообщений в чате пока что нет</h2>
{% endif %}
</div>
{% endblock content %}